a {
  text-decoration: none;
  color: inherit;
}

i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
  /* width: 24px;
  height: 24px; */
}

.drawer {
  width: 240px;
  position: fixed;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  transition: all 250ms ease-in-out;
  white-space: nowrap;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabs > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

.tabs > ul li {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 8px 20px;
  width: calc(100% - 40px);
}

.tabs > ul li:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tabs > ul li span {
  padding-left: 20px;
  font-size: 17px;
  font-weight: 400;
}

/* .tabs > ul i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 18px;
} */

.logout > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: red;
}

.red {
  padding-top: 5px;
  color: red;
}

.drawer button {
  background: transparent;
  border-radius: 50%;
  border: none;
  color: white;
  width: 39px;
  height: 39px;
  font-size: 20px;
  transition: all 300ms ease-out;
  margin-right: -12px;
}

.drawer button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.drawer_hidden {
  width: 60px !important;
}

.hidden {
  display: none !important;
}
